.city-life {
    background: linear-gradient(180deg, #f4f4f2 80.77%, #fff 100%);
}
.city-life__container {
    aspect-ratio: 2 / 1;
    min-height: max-content;
    padding: 136px 151px 48px;
    background: url(../../images/city-life-img.png) no-repeat center / cover;
}
@media (1280px <= width <= 1800px) {
    .city-life__container {
        width: calc(100% - 120px);
        padding-block: 82px 48px;
        padding-inline: 103px !important;
    }
}
@media (1280px <= width <= 1366px) {
    .city-life__container {
        padding-inline: 89px !important;
    }
}
@media (1280px <= width <= 1281px) {
    .city-life__container {
        padding-inline: 82px !important;
    }
}
@media (width <= 1279px) {
    .city-life__container {
    aspect-ratio: auto;
    min-height: auto;
    padding-block: 37px 171px;
    background-position: 60% top;
    }
}
@media (width <= 360px) {
.city-life__container {
    padding-block: 40px 148px;
    background-position: 55%;
    }
}
.city-life__inner {
    max-width: 59%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
@media (1280px <= width <= 1800px) {
    .city-life__inner {
        max-width: none;
    }
}
@media (width <= 500px) {
    .city-life__inner {
        max-width: 100%;
    }
}
.city-life__title {
    max-width: 80%;
    font-family: var(--second-family);
    font-weight: 300;
font-size: 64px;
line-height: 100%;
text-transform: uppercase;
color: var(--brand-brown);
}
@media (1280px <= width <= 1800px) {
    .city-life__title {
        max-width: 510px;
        font-size: 56px;
    }
}
@media (1280px <= width <= 1366px) {
    .city-life__title {
        max-width: 490px;
        font-size: 48px;
    }
}
@media (1280px <= width <= 1281px) {
    .city-life__title {
        max-width: 360px;
        font-size: 40px;
    }
}
@media (width <= 1279px) {
.city-life__title {
font-size: 32px;
}
}
@media (width <= 500px) {
    .city-life__title {
        max-width: 63%;
    }
}

.city-life__content {
    display: flex;
    gap: 48px;
}
@media (1280px <= width <= 1800px) {
.city-life__content {
    gap: 32px;
}
}
@media (width <= 1279px) {
.city-life__content {
    gap: 24px;
}
}
.city-life__video-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
max-width: 410px;
width: 100%;
aspect-ratio: 410 / 262;
overflow: hidden;
}
@media (1280px <= width <= 1800px) {
    .city-life__video-wrapper {
        max-width: min(384px, 29%);
    }
}
@media (1280px <= width <= 1366px) {
    .city-life__video-wrapper {
        max-width: 27.6%;
    }
}
@media (1280px <= width <= 1281px) {
    .city-life__video-wrapper {
        max-width: 29.6%;
    }
}
@media (width <= 1279px) {
    .city-life__video-wrapper {
        display: none;
    }
}
.city-life__preview {
    position: absolute;
    width: 100%;
    height: 100%;
}

.city-life__video-placeholder {
    width: 100%;
    height: 100%;
}
.city-life__video-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    z-index: 2;
}
.city-life__video-icon {}
@media (1280px <= width <= 1800px) {
    .city-life__video-icon {
        width: 64px;
        height: 64px;
    }
}
.city-life__video-text {
    font-weight: 400;
font-size: 18px;
text-transform: uppercase;
color: var(--white);
transition: color var(--transition-time) ease-out;
}
@media (1280px <= width <= 1366px) {
    .city-life__video-text {
        font-size: 16px;
    }
}
.city-life__video-wrapper:hover .city-life__video-text {
color: var(--light-brown-1);
}
.city-life__content > ul {
    max-width: 42%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
@media (1280px <= width <= 1800px) {
.city-life__content > ul {
    max-width: min(398px, 29%);
}
}
@media (1280px <= width <= 1366px) {
.city-life__content > ul {
    max-width: 28.7%;
    gap: 16px;
}
}
@media (1280px <= width <= 1281px) {
.city-life__content > ul {
    max-width: 30.8%;
}
}
@media (width <= 1279px) {
.city-life__content > ul {
    gap: 16px;
    max-width: 300px;
}
}
@media (width <= 500px) {
.city-life__content > ul {
    max-width: 58%;
}
}
@media (width <= 360px) {
.city-life__content > ul {
    gap: 16px;
    max-width: 74%;
}
}

.city-life__content > ul > li {
    font-size: 20px;
color: var(--dark-brown);
display: flex;
gap: 16px;
}

@media (1280px <= width <= 1800px) {
.city-life__content > ul > li {
    font-size: 18px;
}
}

@media (1280px <= width <= 1366px) {
.city-life__content > ul > li {
    font-size: 16px;
}
}

@media (width <= 1279px) {
.city-life__content > ul > li {
    font-size: 16px;
}
}

@media (1280px <= width <= 1536px) {
    .city-life__video-wrapper,
    .city-life__content > ul > li {
        max-width: 301px;
    }
}

@media (1280px <= width <= 1336px) {
    .city-life__video-wrapper,
    .city-life__content > ul > li {
        max-width: 259px;
    }
}

.city-life__content > ul > li::before {
    content: "";
    display: inline-flex;
    margin-top: 8px;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 100%;
background: var(--dark-brown);
}

.video {
    display: none;
    background: var(--white);
}

@media (width <= 1279px) {
    .video {
    display: block;
    padding-block: 40px;
    }

    .city-life__video-wrapper--tablet {
        display: flex;
        max-width: 100%;
        min-height: 500px;
    }

    .city-life__video-button--tablet {
        width: 56px;
        height: 56px;
    }
}

@media (width <= 768px) {
    .laview-slider__slide-bg {
        padding-bottom: 0;
    }
    .city-life__video-wrapper--tablet {
        min-height: auto;
    }
    .city-life__container {
        background-size: cover;
        background-position: 55% center;
    }
    .video {
        padding-block: 32px;
    }
}
@media (width <= 500px) {
    .city-life__container {
        background-position: 57% center;
    }
    }
