.formats {
    background: var(--white);
    padding-bottom: 143px;
}
@media (1280px <= width <= 1800px) {
.formats {
    padding-bottom: 96px;
}
}
@media (width <= 1279px) {
.formats {
    padding-bottom: 64px;
}
}
.formats__container{
    background: url(../../images/bottom-banner.png) no-repeat center / cover;
}

@media (1280px <= width <= 1800px) {
    .formats__container {
        width: calc(100% - 120px);
    }
}

@media (width <= 768px) {
    .formats__container {
        padding: 0 !important;
    }
}

@media (width <= 1279px) {
.formats__container{
    background: none;
}
}

.formats__inner {
    max-width: 60%;
    padding: 150px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
@media (1280px <= width <= 1800px) {
    .formats__inner {
        max-width: 76%;
        padding: 69px 90px;
    }

    .formats__inner > p,
    .formats__inner li {
        max-width: 660px;
    }
}
@media (1280px <= width <= 1366px) {
    .formats__inner {
        padding: 83px 90px;
    }
}
@media (1280px <= width <= 1281px) {
    .formats__inner {
        padding: 91px 81px;
    }
}
@media (width <= 1279px) {
    .formats__inner {
        color: var(--brand-brown);
        padding: 0px;
        max-width: 100%;
    }
}
@media (width <= 500px) {
    .formats__inner {
        gap: 0px;
    }
}

@media (width <= 768px) {
    .formats__inner > :not(.formats__img) {
        padding-inline: var(--container-padding);
    }

    .formats__img {
        width: 100%;
    }
}
.formats__img {
    display: none;
}
@media (width <= 1279px) {
    .formats__img {
    display: block;
    margin-bottom: 40px;
}
}
.formats__title {
    margin-bottom: 16px;
    font-family: var(--second-family);
font-weight: 300;
font-size: 64px;
line-height: 100%;
text-transform: uppercase;
}
@media (1280px <= width <= 1800px) {
.formats__title {
    margin-bottom: 8px;
    max-width: 660px;
    font-size: 56px;
}
}
@media (1280px <= width <= 1366px) {
.formats__title {
    max-width: 560px;
    font-size: 48px;
}
}
@media (1280px <= width <= 1281px) {
.formats__title {
    max-width: 460px;
    font-size: 40px;
}
}
@media (width <= 1279px) {
.formats__title {
    font-size: 32px;
}
}
.formats__inner p {
font-size: 20px;
line-height: 26px;
}
@media (1280px <= width <= 1800px) {
    .formats__inner p {
        font-size: 18px;
        line-height: 23px;
    }
}
@media (1280px <= width <= 1366px) {
    .formats__inner p {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (width <= 1279px) {
    .formats__inner p {
                font-size: 16px;
    }
}
.formats__inner ul {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (1280px <= width <= 1800px) {
    .formats__inner ul {
        gap: 4px;
    }
}

.formats__inner li {
    font-size: 20px;
    line-height: 26px;
    display: flex;
    gap: 8px;
}

@media (1280px <= width <= 1800px) {
    .formats__inner li {
        font-size: 18px;
        line-height: 23px;
    }
}

@media (1280px <= width <= 1366px) {
    .formats__inner li {
        font-size: 16px;
        line-height: 20px;
    }
}

.formats__inner li::before {
    content: "";
    display: inline-block;
    margin: 8px 8px 8px 0px;
    width: 8px;
    height: 8px;
    flex-shrink: 0;
    border-radius: 100%;
    background-color: currentColor;
}

@media (width <= 1279px) {
    .formats__inner li {
                font-size: 16px;
    }
}
