.map {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1920 / 1300;
    min-height: max-content;
    background-color: var(--background-color);
    background-image: url(../../images/map-img.png);
    background-repeat: no-repeat;
    background-size: auto 88.31%;
    background-position: left top;
}

@media (width <=1279px) {
    .map {
        aspect-ratio: auto;
        background: url(../../images/map-img.png) no-repeat top right / auto;
        background-position-x: 30%;
    }
}

@media (width <=768px) {
    .map {
        aspect-ratio: auto;
        background: var(--background-color);
        display: flex;
        flex-direction: column;
    }
}

.map__zoom-area {
    position: absolute;
    z-index: 10;
    top: 18.77%;
    left: 36.15%;
    width: 22.3%;
    height: 24%;
    cursor: pointer;
}

@media (width <=1279px) {
    .map__zoom-area {
        top: 280px;
        left: 410px;
        width: 430px;
        height: 320px;
    }
}

@media (width <=768px) {
    .map__zoom-area {
        top: 150px;
        left: auto;
        right: 40px;
        width: 305px;
        height: 220px;
    }
}

@media (width <=650px) {
    .map__zoom-area {
        top: 126px;
        right: 36px;
        width: 250px;
        height: 180px;

        position: absolute;
    }
}

.map__zoom-button {
    position: absolute;
    top: 30.15%;
    left: 58.35%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-brown);
    border-radius: 100%;
    border: 1px solid var(--middle-brown);
    background: var(--white);
    z-index: 20;
    transition: color var(--transition-time) ease-out;
}

.map__zoom-button:hover {
    color: var(--brown-darken);
}

@media (width <=1790px) {
    .map__zoom-button {
        width: 64px;
        height: 64px;
    }
}

@media (width <=1279px) {
    .map__zoom-button {
        top: 16px;
        right: 16px;
        left: auto;
        transform: none;
        width: 48px;
        height: 48px;
    }
}

@media (width <=1279px) {
    .map__zoom-icon {
        width: 19px;
        height: 19px;
    }
}

.map__img {
    display: none;
}

@media (width <=768px) {
    .map__scroll {
    overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: block;
}

.map__scroll::-webkit-scrollbar {
  display: none;
}

    .map__inner-scroll {
  position: relative;
  width: max-content;
}

    .map__img {
        direction: rtl;
        display: block;
        max-width: 1180px;
        max-height: 710px;
        object-fit: contain;
    }
}

@media (width <=720px) {
    .map__img {
        transform: translateX(-70px);
    }
}

@media (width <=650px) {
    .map__img {
        max-height: 572px;
        transform: translateX(0);
    }
}

.map__hand-icon-wrapper {
    display: none;
}

@media (width <=650px) {
    .map__hand-icon-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 504px;
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        backdrop-filter: blur(13px);
        background: rgba(71, 78, 73, 0.67);
    }

    .map__hand-icon {
        color: var(--white);
        fill: none;
        width: 19px;
        height: 26px;
        animation: hand-swipe 4s ease-out infinite !important;
    }
}

@keyframes hand-swipe {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(-4px);
    }

    30% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(4px);
    }

    60% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

.map__container {
    display: flex;
    justify-content: flex-end;
}

@media (width <=1279px) {
    .map__container {
        padding: 80% 0px 64px;
        display: flex;
        justify-content: flex-start;
    }
}

@media (width <=990px) {
    .map__container {
        padding: 110% 0px 64px;
    }
}

@media (width <=768px) {
    .map__container {
        padding: 40px 0px 64px;
    }
}

.map__inner {
    width: min(564px, 33%);
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding-top: max(320px, 16.67%);
    padding-bottom: 48px;
}

@media (width <=1790px) {
    .map__inner {
        width: min(477px, 32%);
        gap: 28px;
        padding-top: clamp(160px, calc(40.2vw - 389.5px), 280px);
    }
}

@media (width <=1366px) {
    .map__inner {
        width: min(363px, 30%);
        padding-top: clamp(128px, calc(82.75vw - 930px), 200px);
    }
}

@media (width <=1280px) {
    .map__inner {
        width: min(385px, 33%);
        padding-top: 150px;
    }
}

@media (width <=1279px) {
    .map__inner {
        width: auto;
        max-width: 60%;
        gap: 32px;
        margin-left: 30%;
        padding-top: 0;
        padding-bottom: 135px;
    }
}

@media (width <=990px) {
    .map__inner {
        max-width: 100%;
    }
}

@media (width <=768px) {
    .map__inner {
        margin-left: 0px;
    }
}

.map__title {
    max-width: 544px;
    font-size: 36px;
}

@media (width <=1790px) {
    .map__title {
        font-size: 28px;
    }
}

@media (width <=1366px) {
    .map__title {
        font-size: 24px;
    }
}

.map__info {
    position: relative;
    width: 76.3%;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

@media (1280px <= width <=1790px) {
    .map__info {
        width: 74%;
        gap: 40px;
    }
}

@media (1280px <= width <=1366px) {
    .map__info {
        width: 100%;
    }
}

@media (width <=1279px) {
    .map__info {
        width: 100%;
        gap: 32px;
        align-self: flex-start;
        margin-top: 0px;
    }
}

.map__slide {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
  display: flex;
  flex-direction: column;
  gap: 55px;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: visibility var(--transition-time) ease-out, transform var(--transition-time) ease-out, opacity var(--transition-time) ease-out;
}

.map__slide.active {
    position: static;
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}

@media (1280px <= width <=1790px) {
    .map__slide {
        gap: 40px;
    }
}

.map__info-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 100%;
    width: 100%;
  flex-shrink: 0;
}

@media (width <=1790px) {
    .map__info-section {
        gap: 16px;
    }
}

.map__info-section-icons-wrapper {
    display: flex;
    flex-direction: column;
}

@media (width <=1279px) {
    .map__info-section-icons-wrapper {
        padding-right: 23.5%;
    }
}

.map__walking-icons-wrapper {
    width: 292px;
}

@media (width <=1279px) {
    .map__walking-icons-wrapper {
        width: 100%;
    }
}

.map__walking-icon {
    color: var(--brand-brown);
    transition: opacity var(--transition-time) ease-out;
}

@media (width <=1279px) {
    .map__walking-icon {
        width: 18px;
        height: 32px;
    }
}

.map__info-section-decor {
    display: flex;
    justify-content: flex-end;
    background: url(../../icons/line-icon.svg) repeat-x;
    background-position-x: -7px;
}

.map__info-section ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.map__info-section li {
    font-size: 20px;
    color: var(--dark-brown);
    display: flex;
    justify-content: space-between;
}

@media (width <=1790px) {
    .map__info-section li {
        font-size: 16px;
    }
}

.map__car-icons-wrapper {
    width: 273px;
}

@media (width <=1279px) {
    .map__car-icons-wrapper {
        width: 100%;
    }
}

.map__car-icon {
    color: var(--brand-brown);
    transition: opacity var(--transition-time) ease-out;
}

@media (width <=1279px) {
    .map__car-icon {
        width: 45px;
        height: 18px;
    }
}

.map__button {
    width: 100%;
    padding-block: 16px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background: var(--white);
    transition: color var(--transition-time) ease-out;
}

.map__button:hover {
    color: var(--brown-darken);
}

@media (width <=1279px) {
    .map__button {
        width: 65%;
        padding: 10px;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.02em;
    }
}

@media (width <=900px) {
    .map__button {
        width: 100%;
    }
}

.map__button-icon {
    width: 26px;
    height: 26px;
}

@media (width <=1279px) {
    .map__button-icon {
        width: 23px;
        height: 23px;
    }
}

.map__button-text {
    align-self: center;
    line-height: 100%;
}

.map__info-section:hover .map__walking-icon,
.map__info-section:hover .map__car-icon {
  opacity: 10%;
}

@media (width <=768px) {
    .map__container {
        min-height: auto;
    }
    .map__inner {
        padding-bottom: 0;
        justify-content: flex-start;
    }

    .map__slide {
        gap: 32px;
    }

    .map__button {
        width: 328px;
    }
}

@media (width <=500px) {
    .map__info {
        max-width: 100%;
    }
    .map__button {
        width: 100%;
    }
}
